<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Core Message Logger -->
	<bean id="messageLogger"
		class="ru.skuptsov.logviewer.service.executor.impl.LogMessagePersisterImpl">
		<property name="executorType" value="fixed" />
		<property name="poolSize" value="10" />
		<property name="isPooled" value="true" />
		<property name="isAsync" value="true" />
	</bean>

	<!-- Business Object -->
	<bean id="logMessageBO" class="ru.skuptsov.logviewer.persistance.bo.impl.LogMessagePersisterBOImpl">
		<constructor-arg>
			<ref bean="logMessageDAO" />
		</constructor-arg>
	</bean>

	<!-- Data Acess Object -->
	<bean id="logMessageDAO"
		class="ru.skuptsov.logviewer.persistance.dao.impl.HibernateTemplateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
